 .carousel-caption{
        top: 50%;
        transform: translateY(-50%);
        text-transform: uppercase;
    }

    @media (max-width:300px){
        .carousel-caption{
            display: none; 
        }
    }
    .blue{
        color:blue;
      }
.img-circle{
    clip-path: circle();
}
.p-black{
    color:black;
}
.p-green{
    color:green;
}
.btn-rounded{
    border-radius: 50px;
    
    
}
.ul-nb{
    list-style-type: none;
}
.field-rounded{
    border-radius:15px;
    border:blue;
    
    background-color: white;
}
.card-cool{
    background-color:transparent;
    
}
.ml-300{
    margin-left:250px;
}
.tnsh-input{
    width:250px;
}
.p-right{
    
    text-align:right;

}
.gbdabutton{
    padding:30px;
}
.pd{
    padding: 5px;
}
.pdd{
    padding:20;
}
.p-center{
    text-align:center;
}
.wb{
    width:40px;
}
.text-dark{
    color:black;
}
.navbar-right{
    text-align:right;
}
img-hover{
    transform: 1.5em;
}
td{
    padding: 50px;
}
.btn-md{
    width:150px;
}








