



            *{
            font-family: 'Source Sans Pro', sans-serif;
            font-style: normal;
            font-weight:400;
            }
            body{
    background-color: white;
     font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight:400;
}

        
 @-webkit-keyframes spin{
            0%{
                -webkit-transform:rotate(0deg);
            }
            100%{
                -webkit-transform:rotate(360deg);
            }
        }
        @keyframes spin{
            0%{
                transform:rotate(0deg);
            }
            100%{
                transform:rotate(360deg);
            }
        }
        option{
          font-size:12px;
     }
       optgroup{
          font-size:12px;
     }
       

.myname {
      text-transform: uppercase;
      letter-spacing: 2px;
      text-decoration: none;
      text-fill-color: transparent;
      display: inline-block;
      /*background-image: linear-gradient(to right, #30CFD0 0%, #330867 100%);*/
      animation: .8s shake infinite alternate;
}


@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

@-webkit-keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}


.content {
    
    overflow:hidden;
    font-size: 30px;
    line-height: 50px;
    color: #00bfff;
}


.content .container {
    font-weight: 600;
    overflow: hidden;
    height: 50px;
    
}
.content .container {
        
    }
.item {
    line-height: 50px;
    margin-bottom: 0px;
}


.list {
    margin-top: 0px;
    margin-bottom: 60px;
    text-align: left;
    line-height:80px;
    list-style: none;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}






@keyframes opacity1 {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes opacity1 {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-35%,0);}
  33.32%,45.98% {transform:translate3d(0,,-68%,0);}
  49.98%,62.64% {transform:translate3d(0,-70%,0);}
  66.64%,79.3% {transform:translate3d(0,-37%,0);}
  83.3%,95.96% {transform:translate3d(0,-0%,0);}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-35%,0);}
  33.32%,45.98% {transform:translate3d(0,-68%,0);}
  49.98%,62.64% {transform:translate3d(0,-70%,0);}
  66.64%,79.3% {transform:translate3d(0,-37%,0);}
  83.3%,95.96% {transform:translate3d(0,-0%,0);}
}



 .now{
            animation:1s togg infinite;
            -webkit-animation:1s togg infinite;
        }
        @keyframes togg {
            0%,100%{
                opacity:0;
            }
            50%{
                opacity:1;
            }
            
        }
         @-webkit-keyframes togg {
            0%,100%{
                opacity:0;
            }
            50%{
                opacity:1;
            }
            
        }
        
.sidenav {
height: 100vh;
width: 0;
position: fixed;
z-index: 1;
top: 0;
Left: 0;
background-color: #00bfff;
color:white;
overflow-x: hidden;
transition: 2.5s;
padding-top: 60px;
border:none;
}

.sidenav .aa {
padding: 5px 5px 5px 26px;
text-decoration: none;
font-size: 13px;
font-weight: 700;
text-transform: ;
color: white;
display: block;
transition: 0.3s
}
summary{
    padding: 8px 8px 8px 32px;
}

.sidenav a:hover, .offcanvas a:focus{
color: #f1f1f1;
}

.closebtn {
position: absolute;
top: 0;
right: 20px;
font-size: 36px !important;

}





a{
            color:#00bfff;
            text-decoration: none;
        }
        input[type=text]{
            background-color:white;
            border:none;
            font-size:13px;
            border-radius:0;
            height:25px;
            border-bottom:2px solid #00bfff;
        }
        input[type=number]{
            background-color:white;
            border:none;
            font-size:13px;
            border-radius:0;
            height:25px;
            border-bottom:2px solid #00bfff;
        }
        input[type=email]{
            background-color:white;
            border:none;
            font-size:13px;
            border-radius:0;
            height:25px;
            border-bottom:2px solid #00bfff;
        }
        input[type=password]{
            background-color:white;
            border:none;
            font-size:13px;
            border-radius:0;
            height:25px;
            border-bottom:2px solid #00bfff;
        }

        

  .topnav a{
            float:left;
            display:block;
            color:white;
            text-align:center;
            padding:14px 16px;
            text-decoration:none;
            font-size:16px;
            font-style:Verdana;
            font-weight: 700;
           
            
        }
         
        .nav{
            background-color:#00bfff;
            
            overflow:hidden;
            position:fixed;
            bottom:0;
            width:100%;
        }
        .nav a{
            color:black;
            text-align:center;
            padding:3px;
            text-decoration:none;
            margin:0 auto;
            font-size:11px;

        }

 .topnav a.active{
            color:#00bfff;
            font-weight: bolder;
           
           border-bottom:4px #00bfff solid;
          
           
        }

 .topnav .icon{
     position: absolute;
     top:5%;
     right:0;
            display: none;
            border:1px white solid;
            border-radius: 10px;
            
            padding:0;
        }
        
         @media screen and (max-width: 1500px){
           .ham{
             display:block;
           }
        }
        
        @media screen and (max-width: 1500px){
            .topnav a:not(:first-child){
                display:none;
            }
            .topnav a.icon{
                float:right;
                display:block;
                
            }
        }
        *{
            font-size:14px;
        }
        @media screen and (max-width:1500px){
            .topnav.responsive {
                position:relative;
            }
            .topnav.responsive .icon{
                position: absolute;
                right:0;
                top:0;
                
                border:2px solid white;
                border-radius:5px;
            }
            .topnav.responsive a{
                float:none;
                display:block;
                text-align:left;
                font-size: 14px;

            }
            .topnav.responsive input{
                float:none;
                display:block;
                text-align:left;
            }
            .topnav.responsive.dropdown{
                float:none;
                display:block;
                text-align:left;}

                .topnav.responsive .active{
                    color:#00bfff;
                }
            }
        }
         @media screen and (min-width:600px){
            .brand{
                
            }
        }
        .topnav{
            border-radius: 0px;
        }
html{
    scroll-behavior: smooth;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:600;
    
}

.btn{
    background-color: #00bfff;
    color:white;
    height:36px;
}
.btn-sm{
    background-color: #00bfff;
    color:white;
    height:30px;
    text-decoration: none;
}
.welcome{
    font-size:2.5em;
    color:#00bfff;
    font-weight: 700;
}
.sug{
    padding:5px;
    margin-left:5px;
    border:1px solid #00bfff;
    margin-top: 3px;
}
.txt{
    font-size:14px;
    margin: 0 auto;
}
.suggested-bussiness{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
.level{
    font-weight: 700;
    font-size: 1.7em;
    color:#00bfff;
    border-bottom:2px solid #00bfff;
}
.sidemenu{
    float:right;
    padding:5px;
    width:auto;
    border-bottom:2px solid #00bfff;
    border-radius:10px;
    height:600px;
    
   
    
}
tr{
    margin-top:15px;
}
.field{
    position:relative; 
    left:20%;
}
.sidemenu a{
    margin-left:10px;
    color:black;
    padding:10px;
    width:100%;
    text-decoration: none;
}
.sidemenu a .active{
border-right: 2px solid #00bfff;
}

.circle{
    border-radius: 100%;
}
.ls{
    position: absolute;
    top:0;
    right:0;
    margin-right: 20px;
    
}
.l{
    position: absolute;
    top:0;
    left:0;
    margin-left: 10px;
    
}


.recent .car{
    width:200px;
    padding:10px;
    height:auto;
  
}
.home-icon{
    position: absolute;
    top:2px;
    left:2px;
}
.cover{
    background-image: url("images/login-bg.jpg");
    background-repeat: no-repeat;
}
.recent{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-top: 10px;
}
.bussiness-name{
    font-weight: 700;
    font-size: 13px;
}
.recentlyopened{
    padding:2px;
    border-bottom: 2px solid #e6e6ff;
    font-weight: 700;
    font-size:1.6em;
}


.modal{
    display:none;
    
   
    margin: 0 auto;
    position: absolute;
    top:20%;
    left:20%;
    
    
    width:60%;
    height:auto;
    /* overflow: auto; */
    background-color:white;
   

}

.modal-content{
    background-color: #e6e6e6;
   
    padding: 20px;
    
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0px 8px 16px 0px rgba(1,1,1,1.5);
}
.car{
    padding:5px;
    box-shadow: box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}
.close{
    color:red;
    float:right;
    font-size: 28px;
    font-weight: 28px;


}
.close:hover ,
.close:focus{
    color:red;
    text-decoration: none;
    cursor: pointer;
    mix-blend-mode:
}
.amole{
            animation:a 1s infinite;
            -webkit-animation:1s a infinite;
        }
        @keyframes a {
            0%{
                opacity:0.5;
            }
           
        }
        @-webkit-keyframes a {
             0%{
                opacity:0.5;
            }
        }
          .hellocash{
            animation:b 1s infinite;
            -webkit-animation:1s b infinite;
        }
        @keyframes b {
            20%{
                opacity:0.5;
            }
           
        }
        @-webkit-keyframes b {
             20%{
                opacity:0.5;
            }
        }
          .telebirr{
            animation:c 1s infinite;
            -webkit-animation:1s c infinite;
        }
        @keyframes c {
            40%{
                opacity:0.5;
            }
           
        }
        @-webkit-keyframes c {
             40%{
                opacity:0.5;
            }
        }
          .cbe{
            animation:d 1s infinite;
            -webkit-animation:1s d infinite;
        }
        @keyframes d {
            60%{
                opacity:0.5;
            }
           
        }
        @-webkit-keyframes d {
             60%{
                opacity:0.5;
            }
        }
         .ebirr{
            animation:e 1s infinite;
            -webkit-animation:1s e infinite;
        }
        @keyframes e {
            80%{
                opacity:0.5;
            }
           
        }
        @-webkit-keyframes e {
             80%{
                opacity:0.5;
            }
        }
         .awash{
            animation:f 1s infinite;
            -webkit-animation:1s f infinite;
        }
        @keyframes f {
            100%{
                opacity:0.5;
            }
           
        }
        @-webkit-keyframes f {
             100%{
                opacity:0.5;
            }
        }


