.reveal{
position: relative;
transform: translateY(100px);
opacity: 0;
transition: all 1s ease;
}

.reveal.active{
transform: translateY(0px);
opacity: 1;
}

.reveal1{
position: relative;
transform: translateY(-100px);
opacity: 0;
transition: all 1s ease;
}

.reveal1.active{
transform: translateY(0px);
opacity: 1;
}

.reveal2{
position: relative;
transform: translateX(-100px);
opacity: 0;
transition: all 1s ease;
}

.reveal2.active{
transform: translateX(0px);
opacity: 1;
}

.reveal3{
position: relative;
transform: translateX(100px);
opacity: 0;
transition: all 1s ease;
}

.reveal3.active{
transform: translateX(0px);
opacity: 1;
}

.scaleup{
position: relative;
transform: translateX(100px);
opacity: 0;
transition: all 1s ease;
}

.scaleup.active{
transform: translateX(0px);
opacity: 1;
}