body{
    background-color: #e6e6ff;
}
a{
            color:#00bfff;
        }

  .topnav a{
            float:left;
            display:block;
            color:white;
            text-align:center;
            padding:14px 16px;
            text-decoration:none;
            font-size:16px;
            font-style:Verdana;
            font-weight: 700;
           
            
        }
         
        .nav{
            background-color:#00bfff;
            
            overflow:hidden;
            position:fixed;
            bottom:0;
            width:100%;
        }
        .nav a{
            color:black;
            text-align:center;
            padding:3px;
            text-decoration:none;
            margin:0 auto;
            font-size:11px;

        }

 .topnav a.active{
            color:#00bfff;
            font-weight: bolder;
           
           border-bottom:4px #00bfff solid;
          
           
        }

 .topnav .icon{
     position: absolute;
     top:0;
     right:0;
            display: none;
            border:1px #00bfff solid;
            border-radius: 10px;
            
            padding:0;
        }
        
         @media screen and (max-width: 1500px){
           .ham{
             display:block;
           }
        }
        
        @media screen and (max-width: 1500px){
            .topnav a:not(:first-child){
                display:none;
            }
            .topnav a.icon{
                float:right;
                display:block;
            }
        }
        *{
            font-size:14px;
        }
        @media screen and (max-width:1500px){
            .topnav.responsive {
                position:relative;
            }
            .topnav.responsive .icon{
                position: absolute;
                right:0;
                top:0;
            }
            .topnav.responsive a{
                float:none;
                display:block;
                text-align:left;

            }
            .topnav.responsive input{
                float:none;
                display:block;
                text-align:left;
            }
            .topnav.responsive.dropdown{
                float:none;
                display:block;
                text-align:left;}

                .topnav.responsive .active{
                    color:#00bfff;
                }
            }
        }
         @media screen and (min-width:600px){
            .brand{
                
            }
        }
        .topnav{
            
        }
html{
    scroll-behavior: smooth;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:600;
}

.btn{
    background-color: #00bfff;
    color:white;
}
.welcome{
    font-size:2.5em;
    color:#00bfff;
    font-weight: 700;
}
.sug{
    padding:5px;
    margin-left:5px;
    border:1px solid #00bfff;
    margin-top: 3px;
}
.txt{
    font-size:14px;
    margin: 0 auto;
}
.suggested-bussiness{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
.level{
    font-weight: 700;
    font-size: 1.7em;
    color:#00bfff;
    border-bottom:2px solid #00bfff;
}
.sidemenu{
    float:right;
    padding:5px;
    width:auto;
    border-bottom:2px solid #00bfff;
    border-radius:10px;
    height:600px;
    
   
    
}
tr{
    margin-top:15px;
}
.field{
    position:relative; 
    left:20%;
}
.sidemenu a{
    margin-left:10px;
    color:black;
    padding:10px;
    width:100%;
    text-decoration: none;
}
.sidemenu a .active{
border-right: 2px solid #00bfff;
}
select{
    border: 1px solid #00bfff;
    width:150px;
}
.circle{
    border-radius: 100%;
}
.ls{
    position: absolute;
    top:0;
    right:0;
    margin-right: 20px;
    
}
.l{
    position: absolute;
    top:0;
    left:0;
    margin-left: 10px;
    
}

.search{
    position: absolute;
    top:180px;
    left:30%;
    
}
.recent .car{
    width:400px;
    padding:10px;
  
}
.home-icon{
    position: absolute;
    top:2px;
    left:2px;
}
.cover{
    background-image: url("images/login-bg.jpg");
    background-repeat: no-repeat;
}
.recent{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-top: 10px;
}
.bussiness-name{
    font-weight: 700;
    font-size: 13px;
}
.recentlyopened{
    padding:2px;
    border-bottom: 2px solid #00bfff;
    font-weight: 700;
    font-size:1.6em;
}


.modal{
    display:none;
    
   
    margin: 0 auto;
    position: absolute;
    top:20%;
    left:20%;
    
    
    width:60%;
    height:auto;
    /* overflow: auto; */
    background-color:white;
   

}

.modal-content{
    background-color: #e6e6e6;
   
    padding: 20px;
    
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0px 8px 16px 0px rgba(1,1,1,1.5);
}
.car{
    padding:5px;
    box-shadow: box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}
.close{
    color:red;
    float:right;
    font-size: 28px;
    font-weight: 28px;


}
.close:hover ,
.close:focus{
    color:red;
    text-decoration: none;
    cursor: pointer;
    mix-blend-mode:
}


