

<br>
<optgroup label="A" class="mt-2" style="background-color:#00bfff; color:white;">
            
            <option>Accountants/Auditors</option>
            <option>Advertising/Public Relations</option>
	<option>Agribussiness</option>
	<option>Agricultural Services & Products</option>
	<option>Agriculture</option>
	<option>Alcoholic Beverages</option>
	<option>Alternative Energy Production & Services</option>
 	<option>Architectural Services</option>
	<option>Attroneys/Law Firms</option>
	<option>Auto Dealers</option>
	<option>Auto Manufacturers</option>
	<option>Automotive</option>          
           
       </optgroup>
       <optgroup label="B" style="background-color:#00bfff; color:white;">
       
            <option>Baby Care</option>
	    <option>Bakery/Cake</option>
		<option>Baltena Products</option>
		<option>Banking, Mortgage</option>
		<option>Banks, Commercial</option>
		<option>Banks, Saving & Loan</option>
		<option>Barber Shops</option>
		<option>Bar & Restaurant</option>
		<option>Beauty Salons</option>
		<option>Beauty Schools</option>
		<option>Beer, Wine & Liquor</option>
		<option>Book, Magazine & Newspaper</option>
		<option>Botiques</option>
		<option>Bottled Water</option>
		<option>Broadcasters, Radio/TV</option>
		<option>Builders, General Contractors</option>
		<option>Builders, Residential</option>
		<option>Building Materials & Equipments</option>
		<option>Building Trade Unions</option>
		<option>Bussiness Associations</option>
		<option>Business Consultants</option>
		<option>Bussiness Services</option>
		
       </optgroup>
       <optgroup label="C" style="background-color:#00bfff; color:white;">
            <option>Cable & Satellite TV Production/Distribution</option>
		<option>Caffee</option>
		<option>Car Dealers</option>
		<option>Car Imports</option>
		<option>Car Manufacturers</option>
		<option>Car Rent</option>
		<option>Catering</option>
		<option>Cattle Ranchers/Livestock</option>
		<option>Chemical & Related Manufacturing</option>
		<option>Chiropractor</option>
		<option>Cinema</option>
		<option>Cleaning Services</option>
		<option>Clergy & Religious Organizations</option>
		<option>Clinics</option>
		<option>Clothing Manufacturing</option>
		<option>Coal Mining</option>
		<option>Coffee Shops</option>
		<option>Colleges, Universities & Schools</option>
		<option>Commercial TV/Radio Stations</option>
		<option>Computer Software</option>
		<option>Construction Services</option>
		<option>Credit & Saving</option>
		<option>Crop Production & Processing</option>
		
</optgroup>
      
<optgroup label="D" style="background-color:#00bfff; color:white;">
            <option>Dairy Products</option>
    		<option>Dental Clinics</option>
		<option>Distance Education</option>
		<option>Doctors & Other Health Professionals</option>
		<option>Driving Licence Trainers</option>
		<option>Drug Manufacturers</option>       
       </optgroup>

<optgroup label="E" style="background-color:#00bfff; color:white;">
            <option>e-commerce</option>
    		<option>e-learning</option>
		<option>e-payment</option>
		<option>Education</option>
		<option>Electric Utilities</option>
		<option>Electronics Manufacturing & Equipments</option>
		<option>Electronics Sell & Repair</option>
		<option>Eye Clinics</option>
		       
       </optgroup>

<optgroup label="F" style="background-color:#00bfff; color:white;">
            <option>Farming</option>
    		<option>Fashion Schools</option>
		<option>Fast Foods</option>
		<option>Finance/Credit Companies</option>
		<option>Finishing, Construction</option>
		<option>Fitness Trainer</option>
		<option>Flatter</option>
		<option>Foam Manufacturing & Sales</option>
		<option>Food Processing</option>
		<option>Forestery & Forest Products</option>
		<option>Foreign Restaurants</option>
		<option>Foundations, Philanthropists & Non-Profits</option>
		<option>Funeral Services</option>
		<option>Furnitures</option>
		       
       </optgroup>
       <optgroup label="G" style="background-color:#00bfff; color:white;">
        	<option>Garbage Collection/Waste Management</option>
		<option>Gas & Oil</option>
		<option>General Contractors</option>
		<option>Guest House/Pension</option>
		<option>Gym</option>   
       </optgroup>
       <optgroup label="H" style="background-color:#00bfff; color:white;">
           	<option>Health Professionals</option>
		 <option>Health Care Services</option>
		<option>Home Builders</option>
		<option>Hospitals</option>
		<option>Hotels</option>
		
       </optgroup>
       <optgroup label="I" style="background-color:#00bfff; color:white;">
            	<option>Industrial Unions</option>
		<option>Insurance</option>
		<option>Interior Designers</option>
		<option>Internet Services</option>
            
       </optgroup>

	<optgroup label="J" style="background-color:#00bfff; color:white;">
            	<option>Job Agencies</option>
		
       </optgroup>
<optgroup label="L" style="background-color:#00bfff; color:white;">
            	<option>Lawyers & Lobbyists</option>
		<option>Leadership PACs</option>
		<option>Leather Products</option>
		<option>Lounges</option>
            
       </optgroup>

<optgroup label="M" style="background-color:#00bfff; color:white;">
            	<option>Machinery Renting</option>
		<option>Massage & Physiotherapy</option>
		<option>Meat Processing & Products</option>
		<option>Medical Supplies</option>
		<option>Men's Fashion</option>
		<option>Minimarkets</option>
		<option>Miners</option>
		<option>Music/Video/Movie Production</option>
		<option>Muslim Restaurants</option>
		
            
       </optgroup>

<optgroup label="N" style="background-color:#00bfff; color:white;">
            	<option>Newspaper, Magazine & Book Publishing</option>
		<option>Night Club</option>
		<option>Non-Profits & Foundations</option>
		<option>Nutritional & Dietary Supplements</option>
		
       </optgroup>

<optgroup label="O" style="background-color:#00bfff; color:white;">
            	<option>Oil & Gas</option>
		
		
       </optgroup>

<optgroup label="P" style="background-color:#00bfff; color:white;">
            	<option>Pharmaceutical Manufacturing & Imports</option>
		<option>Pharmacy</option>
		<option>Phone Company</option>
		<option>Photographer/Videographer</option>
		<option>Plastic Products</option>
		<option>Plumbing</option>
		<option>Printing & Publishing</option>
		<option>Professional Sport Clubs</option>
		<option>Psychiatrists</option>
		<option>Psychologists</option>
		
		
       </optgroup>

<optgroup label="R" style="background-color:#00bfff; color:white;">
            	<option>Radio/Tv Station</option>
		<option>Real Estate</option>
		<option>Record Company/Singer</option>
		<option>Recreation/Live Entertainment</option>
		<option>Religious Organizations/Clergy</option>
		<option>Resorts</option>
		<option selected>Restaurants</option>
		<option>Retail Sales</option>
		
       </optgroup>

<optgroup label="S" style="background-color:#00bfff; color:white;">
            	<option>School/Education</option>
		<option>Sell & Buy</option>
		<option>Shopping Center</option>
		<option>Skin Care/Treatment</option>
		<option>Soap/Detergent</option>
		<option>Soft Drinks</option>
		<option>Sports Betting</option>
		<option>Sport Club</option>
		<option>Sports Wear Manufacturing/Sales</option>
		<option>Steel Products</option>
		<option>Supermarkets</option>
		<option>Surgical Centers</option>
		
       </optgroup>

<optgroup label="T" style="background-color:#00bfff; color:white;">
            	<option>Tattoo Artist</option>
		<option>Telecom Services & Equipments</option>
		<option>Telephone Utilities</option>
		<option>Textile Products</option>
		<option>Tobacco</option>
		<option>Tour & Travel</option>
		<option>Traditional Restaurants</option>
		<option>Training Centers</option>
		<option>Transportation Service</option>
		<option>Transportation Union</option>
		<option>Trucking</option>
		<option>TV Production</option>
		
       </optgroup>

<optgroup label="V" style="background-color:#00bfff; color:white;">
            	<option>Vegetables & Fruits</option>
		<option>Venture Capital</option>
		
       </optgroup>

<optgroup label="W" style="background-color:#00bfff; color:white;">
            	<option>Website/App</option>
		<option>Wholesaler</option>
		<option>Women's Fashion</option>
		<option>Women's Issues</option>
		
       </optgroup>



