<option>select a city</option>
<optgroup label="A" style="background-color:#00bfff; color:white;">
    <option>Adama/Nazareth</option>
    <option>Addis Ababa</option>
    <option>Addis Alem/Ejersa</option>
    <option>Addis Zemen</option>
    <option>Adigrat</option>
    <option>Adwa</option>
    <option>Agaro</option>
    <option>Alaba Kolito</option>
    <option>Alamata</option>
    <option>Aleta Wondo</option>
    <option>Ambo</option>
    <option>Angecha</option>
    <option>Ankober</option>
    <option>Arba Minch</option>
    <option>Asaita</option>
    <option>Asella</option>
    <option>Assosa</option>
    <option>Axum</option>
</optgroup>

<optgroup label="B" style="background-color:#00bfff; color:white;">
    <option>Babille</option>
    <option>Baco</option>
    <option>Bahir Dar</option>
    <option>Bale Goba</option>
    <option>Bale Robe</option>
    <option>Bati</option>
    <option>Batu/Ziway</option>
    <option>Bedele</option>
    <option>Bekoji</option>
    <option>Bichena</option>
    <option>Bishoftu/Debre Zeit</option>
    <option>Bonga</option>
    <option>Burie Damot</option>
    <option>Butajira</option>
</optgroup>

<optgroup label="C" style="background-color:#00bfff; color:white;">
    <option>Chiro/Asebe Teferi</option>
    <option>Chelenko</option>
    <option>Chencha</option>
    <option>Chuahit</option>
</optgroup>

<optgroup label="D" style="background-color:#00bfff; color:white;">
    <option>Dabat</option>
    <option>Dangilla</option>
    <option>Debark</option>
    <option>Debre Birhan</option>
    <option>Debre Markos</option>
    <option>Debre Tabor</option>
    <option>Debre Worq</option>
    <option>Dejen</option>
    <option>Dembi Dolo</option>
    <option>Dessie</option>
    <option>Dilla</option>
    <option>Dire Dawa</option>
    <option>Dodola</option>
    <option>Durame</option>
    <option>Dukem</option>

</optgroup>

<optgroup label="F" style="background-color:#00bfff; color:white;">
    <option>Fiche</option>
    <option>Finote Selam</option>
    <option>Fireweyni</option>
</optgroup>

<optgroup label="G" style="background-color:#00bfff; color:white;">
    <option>Gambella</option>
    <option>Gelemso</option>
    <option>Ghimbi</option>
    <option>Gode</option>
    <option>Gondar</option>
    <option>Gorgora</option>
</optgroup>

<optgroup label="H" style="background-color:#00bfff; color:white;">
    <option>Harar</option>
    <option>Hawassa</option>
    <option>Hayq</option>
    <option>Holleta</option>
    <option>Hosaena</option>
    <option>Humera</option>
    <option>Huruta</option>
    <option>Hadero</option>
</optgroup>

<optgroup label="J" style="background-color:#00bfff; color:white;">
    <option>Jigjiga</option>
    <option>Jimma</option>
    <option>Jinka</option>
</optgroup>

<optgroup label="K" style="background-color:#00bfff; color:white;">
    <option>Kebri Dehar</option>
    <option>Kibre Mengist</option>
    <option>Kobo</option>
    <option>Kombolcha</option>
    <option>Konso</option>
    <option>Kulubi</option>
</optgroup>

<optgroup label="L" style="background-color:#00bfff; color:white;">
    <option>Lalibela</option>
	<option>Lege Tafo</option>
</optgroup>

<optgroup label="M" style="background-color:#00bfff; color:white;">
    <option>Maychew</option>
    <option>Mekele</option>
    <option>Mersa</option>
    <option>Metemma</option>
    <option>Metu</option>
    <option>Mille</option>
    <option>Mizan Teferi</option>
    <option>Mojo</option>
    <option>Mota</option>
    <option>Moyale</option>
</optgroup>

<optgroup label="N" style="background-color:#00bfff; color:white;">
    <option>Negash</option>
    <option>Negele Borena</option>
    <option>Nejo</option>
    <option>Nekemte</option>

</optgroup>
<optgroup label="S" style="background-color:#00bfff; color:white;">
    <option>Sawla</option>
	<option>Sebeta</option>
    <option>Semera</option>
	<option>Sendafa</option>
    <option>Shashemene</option>
    <option>Shambu</option>
    <option>Shiraro</option>
    <option>Shire</option>
    <option>Sodo</option>
    <option>Sekota</option>
	<option>Sululta</option>
</optgroup>

<optgroup label="T" style="background-color:#00bfff; color:white;">
    <option>Teppi</option>
    <option>Tulu Bolo</option>
</optgroup>

<optgroup label="W" style="background-color:#00bfff; color:white;">
    <option>Weliso</option>
    <option>Welkite</option>
    <option>Welwel</option>
    <option>Werabe</option>
    <option>Werder</option>
    <option>Wereta</option>
    <option>Woldia</option>
    <option>Wuchale</option>
    <option>Wukro</option>
    <option>Washera</option>
</optgroup>

<optgroup label="Y" style="background-color:#00bfff; color:white;">
    <option>Yabelo</option>
    <option>Yeha</option>
    <option>Yirga Alem</option>
</optgroup>