<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <div class="wow fadeInUp footer-copyright" data-wow-delay="1.8s">


                <p class="wow fadeInUp social-icon text-center" style="
                              " data-wow-delay="2s">
                    <span class="mr-5"><a href="#" class="fa fa-facebook"></a></span>
                    <span class="mr-5"><a href="#" class="fa fa-instagram"></a></span>
                    <!-- <li><a href="#" class="fa fa-google-plus"></a></li>
                         <li><a href="#" class="fa fa-dribbble"></a></li> -->
                    <span><a href="https://www.linkedin.com/in/dagmawi-teka" class="fa fa-linkedin"></a></span>
                </p>

            </div>

        </div>

    </div>
</div>